html
  head
    title=title
    link(
      rel="icon"
      type="image/x-icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFpJREFUOE9jZKAQMIL1t/z/z1DDCGGj80FyyACmDqqHOAOQDYdZADWUPAOQXEm+ARS7gPoGoEcncmhjiwWiXYCsGT26GRgYCAfiqAGocUNWIOLKTCjRSEGWBgDxgoOTx1ghLQAAAABJRU5ErkJggg=="
    )
    style
      include index.css
  body
    div.container
      h1.title=title
        if version
          span.version=version
      p.message=message
        if urlPath
          span.urlPath=urlPath
      ul
        li
          span.index='0.'
          a(href="../") ..
        if files
          each file, index in files
            li
              span.index=index+1+'.'
              a(
                href='./' + file
              )=file
