html
  head
    title=title
  body
    h1=title
    p=message
    ul
      li
        a(href="../") ..
      if files
        each file in files
          li
            a(
              href='./' + file
            ) #{file}
